<div class="container mt-5">
  <div class="cart-banner text-white p-2 mb-4 text-center fw-bold shadow-sm" style="background-color: #b19cd9;">
    MY CART
  </div>

  @if (items().length > 0) {
    <div class="table-responsive shadow-sm">
      <table class="table table-bordered align-middle text-center mb-0">
        <thead class="table-dark">
          <tr>
            <th>IMAGE</th><th>PRODUCT</th><th>PRICE</th><th>TOTAL</th><th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of items(); track $index) {
            <tr>
              <td>
              <i class="bi bi-file-earmark-pdf-fill text-danger fs-2"></i>
              </td>
              <td class="text-start ps-4">
                <div class="fw-bold">{{ item.title }}</div>
              </td>
              <td>{{ item.price }} €</td>
              <td>{{ item.price }} €</td>
              <td>
                <button class="btn btn-link text-danger" (click)="removeItem($index)">
                  <i class="bi bi-x-circle-fill fs-4"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="d-flex flex-column align-items-end mt-4">
      <div class="h4 mb-3">Total: <span class="fw-bold text-danger">{{ total() }} €</span></div>
      <div class="d-flex gap-2">
        <button class="btn btn-outline-danger rounded-pill px-4" (click)="clearCart()">CLEAR CART</button>
        <button routerLink="/checkout" class="btn btn-dark rounded-pill px-4 fw-bold shadow">CHECKOUT ></button>
      </div>
    </div>
  } @else {
    <div class="text-center py-5">
      <h3>Your cart is empty</h3>
      <button 
  routerLink="/" 
  class="btn text-white mt-3 px-4 shadow-sm" 
  style="background-color: #b19cd9; border-color: #b19cd9;">
  Back to Books
</button>
    </div>
  }
</div>